---
import Datetime from "./Datetime";
import Tag from "./Tag.astro";
import type { BlogFrontmatter } from "@content/_schemas";

export interface Props {
  href?: string;
  frontmatter: BlogFrontmatter;
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;

const { title, date_published, description, ogImage, tags } = frontmatter;
---

<li class="my-6 flex items-center">
  {
    ogImage ? (
      <a class="mr-4 shrink-0 basis-20" href={href}>
        <img
          class="h-20 w-20 rounded-lg object-cover drop-shadow-lg"
          src={ogImage}
        />
      </a>
    ) : (
      <div class="mr-4 h-20 shrink-0 basis-20" />
    )
  }
  <div>
    <a
      href={href}
      class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
    >
      {
        secHeading ? (
          <h2 class="text-lg font-medium decoration-dashed hover:underline">
            {title}
          </h2>
        ) : (
          <h3 class="text-lg font-medium decoration-dashed hover:underline">
            {title}
          </h3>
        )
      }
    </a>
    <Datetime datetime={date_published} />
    <p>{description}</p>
    <ul class="tags-container">
      {tags.map(tag => <Tag name={tag} />)}
    </ul>
  </div>
</li>
